<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DataBaseTest">
	<listeners>
		<listener class-name="com.databaseframe.utilities.ExtentListener"></listener>
	</listeners>
	<test thread-count="5" name="Testing">
		<classes>
			<class name="com.databaseframe.testcases.TC004_UpdateDataTest" />
			<class name="com.databaseframe.testcases.TC005_DeleteDataTest" />
			<class name="com.databaseframe.testcases.TC003_InsetDataTest" />
			<class name="com.databaseframe.testcases.TC002_RetriveSingleDataTest" />
			<class name="com.databaseframe.testcases.BaseClass" />
			<class name="com.databaseframe.testcases.TC001_RetriveAllDataTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->